@model Business.ViewModels.Home.HomeVM
@{
    ViewData["Title"] = "Index";
}

<section class="breadcrumbs-section background_bg" data-img-src="./assets/image/product-logo/shop-list-img.jpg" style="background: url(&quot;./assets/image/product logo/shop-list-img.jpg&quot;) center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_title text-center">
                    <h1>Məhsullar</h1>
                    <ul class="breadcrumb justify-content-center">
                        <li><a asp-controller="Home" asp-action="Index">Əsas səhifə</a></li>
                        <li><span>Məhsullar</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop-inner-section pt_large pb_large">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12">
                @*<div class="shop-options d-sm-flex justify-content-between align-items-center">
                        <div class="sorting-option">
                            <select class="sorting-items" name="category">
                                <option value="menu_order" selected="selected">Default sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </div>
                        <div class="showing-items">
                            <p>Showing 1–9 of 15 results</p>
                        </div>
                        <div class="shop-list_grid">
                            <div class="list_grid-btns">
                                <a href="javascript:void(0)" class="list-view on"><i class="ion-navicon-round"></i></a>
                                <a href="javascript:void(0)" class="grid-view"><i class="ion-grid"></i></a>
                            </div>
                        </div>
                    </div>*@
                <div class="row list_grid_container list justify-content-center">
                    @foreach (var p in Model.Product)
                    {
                        <div class="col-md-4 col-6">
                            <div class="product-box common-cart-box box-1">
                                <div class="product-img common-cart-img">
                                  @*  <img src="./assets/image/@Model.ProductImages.Where(p => p.ProductId == p.Id && p.IsMain == true).FirstOrDefault().Image" style="object-fit: cover" alt="product-img">*@
                                    <img src="~/assets/image/@p.ProductImages.Where(p=>p.IsMain==true).FirstOrDefault().Image" style="object-fit: cover" alt="product-img">

                                    <div class="hover-option">
                                        <div class="add-cart-btn">
                                            <a href="#" class="btn btn-primary">Səbətə əlavə et</a>
                                        </div>
                                        <ul class="hover-icon">
                                            <li><a asp-controller="ProductBFOS" asp-action="SetFavorite" asp-route-id="@p.Id"><i class="fa fa-heart"></i></a></li>
                                            <li><a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info common-cart-info text-center">
                                    <a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="cart-name">@p.Name</a>
                                    <p class="cart-price">$ @p.Price</p>
                                    <p class="product-list-text" style="">@p.Description</p>
                                    <div class="hover-option">
                                        <div class="add-cart-btn">
                                            <a asp-controller="ProductBFOS" asp-action="SetBasket" asp-route-id="@p.Id" style="background-color: #eb3e32" class="btn btn-primary border-0">Səbətə əlavə et</a>
                                        </div>
                                        <ul class="hover-icon">
                                            @*<li><a asp-controller="ProductBFOS" asp-action="SetBasket" asp-route-id="@p.Id" style="margin-top: 10px"><i style="color: #eb3e32" class="bi bi-cart3"></i></a></li>*@
                                            <li><a asp-controller="ProductBFOS" asp-action="SetFavorite" asp-route-id="@p.Id"><i class="fa fa-heart"></i></a></li>
                                            <li><a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-12">
                    <nav>

                        @*<div class="pagination_page">
                            @if (@Model.Product.AllPageCount > 1)
                            {
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">

                                        @if (Model.Product.CurrentPage > 1)
                                        {
                                            var prev = Model.Product.CurrentPage - 1;
                                            <li class="">
                                                <a class="page-link d-none" asp-action="Index" asp-route-page="@prev"><i class="bi bi-chevron-left"></i></a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a class="page-link d-none"><i class="bi bi-chevron-left"></i></a>
                                            </li>
                                        }
                                        @{ if (1 < Model.Product.AllPageCount)
                                            {
                                                var start = 1;
                                                var end = Model.Product.AllPageCount;
                                                for (int i = start; i <= end; i++)
                                                {
                                                    <li class="@(Model.Product.CurrentPage == i ? "disabled" : "")">
                                                        <a class="" asp-action="Index" asp-route-page="@i">@i</a>
                                                    </li>
                                                }
                                            } }
                                        @if (Model.Product.CurrentPage < Model.Product.AllPageCount)
                                        {
                                            var next = Model.Product.CurrentPage + 1;
                                            <li class="">
                                                <a class="" asp-action="Index" asp-route-page="@next"><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        }

                                    </ul>
                                </nav>}

                        </div>*@
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


