@using Microsoft.EntityFrameworkCore.Internal
@model Business.ViewModels.Home.HomeVM
@{
    ViewData["Title"] = "Home Page";
    var status = "active";
}



<!-- ---INTRO SLIDER--- -->
<section class="slider slider-type-2 p-0 mx-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 slider-width">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item slider-area background_bg active" data-img-src="assets/image/@Model.Sliders[0].Image" style="background: url(&quot;~/assets/image/slider-img-6.jpg&quot;) center center/cover;">
                            <div class="banner_slide_content">
                                <div class="slider-caption">
                                    <h1 class="animation animated fadeInDown" data-animation="fadeInDown" data-animation-delay="0.2s" style="animation-delay: 0.2s; visibility: visible;">@Model.Sliders[0].Name</h1>
                                    <p class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; visibility: visible;">@Model.Sliders[0].Title</p>
                                </div>
                            </div>
                        </div>

                        @for (int i = 1; i < Model.Sliders.Count; i++)
                        {
                            <div class="carousel-item slider-area background_bg" data-img-src="assets/image/@Model.Sliders[i].Image" style="background: url(&quot;~/assets/image/slider-img-6.jpg&quot;) center center/cover;">
                                <div class="banner_slide_content">
                                    <div class="slider-caption">
                                        <h1 class="animation animated fadeInDown" style="color: #F5F5F5" data-animation="fadeInDown" data-animation-delay="0.2s" style="animation-delay: 0.2s; visibility: visible;">@Model.Sliders[i].Name</h1>
                                        <p class="animation animated fadeInUp" style="color: #F5F5F5" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; visibility: visible;">@Model.Sliders[i].Title</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white section-shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-6 facility-box box-1">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="fb-text">
                        <h5>ÇATDIRILMA</h5>
                        <span>
                            ÖLKƏ
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-2">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="fb-text">
                        <h5>
                            24/ 7 DƏSTƏK
                        </h5>
                        <span>
                            MÜŞTƏRI XIDMƏTLƏRI
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-3">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                    <div class="fb-text">
                        <h5>
                            ÖDƏNİŞ
                        </h5>
                        <span>TƏHLÜKƏSIZ SISTEM</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 facility-box box-4">
                <div class="facility-inner">
                    <div class="fb-icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="fb-text">
                        <h5>KEYFİYYƏT</h5>
                        <span>ORJINAL MƏHSULLAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ---INTRO SLIDER--- -->
<!-- ---PRODUCT--- -->
<section class="popular-products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title text-center">
                    <h4>MƏHSULLAR</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-wrap">
                    <ul class="nav nav-tabs tab-style-2 justify-content-center" role="tablist">
                        @foreach (var item in Model.GenderCategory)
                        {
                            <li class="nav-item">
                                <a class="nav-link " id="arrivals-tab" data-toggle="tab" href="#@item.Name" role="tab" aria-controls="arrivals" aria-selected="true"><i class="icon icon-home"></i>@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="tab-content products-style-4">

                    <div class="tab-pane fade show  active" id="@Model.GenderCategory[0].Name" role="tabpanel" aria-labelledby="arrivals-tab">
                        <div class="row">
                            @foreach (var item in Model.GenderCategory[0].Product)
                            {
                                <div class="col-md-3 col-6 mb-4 pb-2">
                                    <div class="product-box common-cart-box text-center">
                                        <div class="product-img common-cart-img">
                                            <img src="./assets/image/@item.ProductImages.Where(p=>p.IsMain==true).FirstOrDefault().Image" style="object-fit: cover" alt="product-img">
                                            <div class="hover-option">
                                                <ul class="hover-icon">
                                                    <li><a asp-controller="ProductBFOS" asp-action="SetBasket" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a asp-controller="ProductBFOS" asp-action="SetFavorite" asp-route-id="@item.Id"><i class="fa fa-heart"></i></a></li>
                                                    <li><a asp-controller="Product_detail" asp-action="Index" asp-route-id="@item.Id" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info common-cart-info">
                                            <a asp-controller="Product_detail" asp-action="Index" asp-route-id="@item.Id" class="cart-name">@item.Name</a>
                                            <p class="cart-price">₼ @item.Price</p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="show-more-btn">
                            <a href="" class="btn btn-primary ">Daha çox göstər</a>
                        </div>
                    </div>




                    @for (int j = 1; j < Model.GenderCategory.Count; j++)
                    {
                        <div class="tab-pane fade show " id="@Model.GenderCategory[j].Name" role="tabpanel" aria-labelledby="arrivals-tab">
                            <div class="row">
                                @for (int i = 0; i < Model.GenderCategory[j].Product.Count; i++)
                                {
                                    <div class="col-md-3 col-6 mb-4 pb-2">
                                        <div class="product-box common-cart-box text-center">
                                            <div class="product-img common-cart-img">
                                                <img src="./assets/image/@Model.GenderCategory[j].Product[i].ProductImages.Where(p => p.IsMain == true).FirstOrDefault().Image" alt="product-img">
                                                <div class="hover-option">
                                                    <ul class="hover-icon">
                                                        <li><a asp-controller="ProductBFOS" asp-action="SetBasket" asp-route-id="@Model.GenderCategory[j].Product[i].Id"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a asp-controller="ProductBFOS" asp-action="SetFavorite" asp-route-id="@Model.GenderCategory[j].Product[i].Id"><i class="fa fa-heart"></i></a></li>
                                                        <li><a asp-controller="Product_detail" asp-action="Index" asp-route-id="@Model.GenderCategory[j].Product[i].Id" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info common-cart-info">
                                                <a asp-controller="Product_detail" asp-action="Index" asp-route-id="@Model.GenderCategory[j].Product[i].Id" class="cart-name">@Model.GenderCategory[j].Product[i].Name</a>
                                                <p class="cart-price">₼ @Model.GenderCategory[j].Product[i].Price</p>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <div class="show-more-btn">
                                <a href="" class="btn btn-primary ">Daha çox göstər</a>
                            </div>
                        </div>

                    }
                    @*<div class="tab-pane fade" id="sallers" role="tabpanel" aria-labelledby="sallers-tab">
                            <div class="row">
                                @foreach (var p in Model.Product.Where(p => p.GenderCategoryId == 2))
                                {
                                    <div class="col-md-3 col-6 mb-4 pb-2">
                                        <div class="product-box common-cart-box text-center">
                                            <div class="product-img common-cart-img">
                                                <img src="./assets/image/product1.png" alt="product-img">
                                                <div class="hover-option">
                                                    <ul class="hover-icon">
                                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li><a asp-controller="ProductBFOS" asp-action="SetFavorite" asp-route-id="@p.Id"><i class="fa fa-heart"></i></a></li>
                                                        <li><a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info common-cart-info">
                                                <a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="cart-name">@p.Name</a>
                                                <p class="cart-price">₼ @p.Price</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane fade" id="offer" role="tabpanel" aria-labelledby="offer-tab">
                                <div class="row">
                                    @foreach (var p in Model.Product.Where(p => p.GenderCategoryId == 3).ToList())
                                    {
                                        <div class="col-md-3 col-6 mb-4 pb-2">
                                            <div class="product-box common-cart-box text-center">
                                                <div class="product-img common-cart-img">
                                                    <img src="./assets/image/product1.png" alt="product-img">
                                                    <div class="hover-option">
                                                        <ul class="hover-icon">
                                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                            <li><a asp-controller="ProductBFOS" asp-action="SetFavorite" asp-route-id="@p.Id"><i class="fa fa-heart"></i></a></li>
                                                            <li><a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="quickview-popup-link"><i class="fa fa-eye"></i></a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-info common-cart-info">
                                                    <a asp-controller="Product_detail" asp-action="Index" asp-route-id="@p.Id" class="cart-name">@p.Name</a>
                                                    <p class="cart-price">₼ @p.Price</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="show-more-btn">
                                    <a href="" class="btn btn-primary ">Daha çox göstər</a>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
</section>
<!-- ---PRODUCT--- -->
<!-- -----SALE----- -->
<section class="bg_light_pink pt_large pb_large">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4">
                <div class="deal_img">
                    <a href="#"><img src="./assets/image/slider/deal_img.png" alt="deal_img"></a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="deal_section text-center">
                    <h2 class="deal_title">Yaz endirimi</h2>
                    <h3 class="a">21-28 Mart tarixlərində xüsusi endirimlərdən yararlanın.</h3>
                    @*<p>Endirimə qaldı:</p>
                    <div class="countdown_time" data-time="2020/03/15">
                        <div class="countdown_box">
                            <div class="countdown_content">
                                <span class="countdown days">00 </span>
                                <span class="cd_text">Gün</span>
                            </div>
                        </div>
                        <div class="countdown_box">
                            <div class="countdown_content">
                                <span class="countdown hours">00</span>
                                <span class="cd_text">Saat</span>
                            </div>
                        </div>
                        <div class="countdown_box">
                            <div class="countdown_content">
                                <span class="countdown minutes">00</span>
                                <span class="cd_text">Dəqiqə</span>
                            </div>
                        </div>
                        <div class="countdown_box">
                            <div class="countdown_content">
                                <span class="countdown seconds">00</span>
                                <span class="cd_text">Saniyə</span>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -----SALE----- -->
<!-- ---FOLLOW--- -->
<section id="follow" style="background-image: url(./assets/image/paralax/follow-paralax.jpg);">
    <div class="follow">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <div class="leftSide">
                        <b style="color: #666666;">Yeniliklərdən xabardar olun!</b>
                        <p style="color: #666666;">Hər dəfə yeni xüsusi təklifimiz olduqda bizdən e-poçt almaq istəyirsinizsə, burada qeydiyyatdan keçin!</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="rightSide">
                        <form class="newsletter-form">
                            <div class="outline-input">
                                <input class="rounded-0" type="text" required="" placeholder="Email adresi daxil edin">
                            </div>
                            <button type="submit" title="Subscribe" class="btn btn-submit btn-primary rounded-0" name="submit" value="Submit">Abunə ol</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ---FOLLOW--- -->
