@model Business.ViewModels.Product.ProductCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Məhsul əlavə et</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Məhsulun adı:</label>
                    <input required class="form-control" asp-for="Name" placeholder="Məhsulun adını daxil edin...">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Description">Məhsul haqqında:</label>
                    <input required class="form-control" asp-for="Description" placeholder="Məhsul haqqında məlumat daxil edin...">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Information">Məhsul haqqında əlavə məlumat:</label>
                    <input required class="form-control" asp-for="Information" placeholder="Məhsul haqqında əlavə məlumat daxil edin...">
                    <span class="text-danger" asp-validation-for="Information"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Count">Məhsulun sayı:</label>
                    <input required class="form-control" asp-for="Count" placeholder="Məhsulun sayını daxil edin...">
                    <span class="text-danger" asp-validation-for="Count"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Məhsulun qiyməti:</label>
                    <input required class="form-control" asp-for="Price" placeholder="Məhsulun qiymətini daxil edin...">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>

                <br />
                <br />
                <div class="form-group">
                    <label asp-for="ProductCategoryId">Kateqoriya seçin:<span class="text-danger" class="text-danger">*</span></label>
                    <select class="form-control" asp-for="ProductCategoryId">
                        @foreach (var item in (List<ProductCategory>)ViewBag.categories)
                        {
            <option value="@item.Id">@item.Name</option>}


                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="GenderCategoryId">Brend seçin:<span class="text-danger" class="text-danger">*</span></label>
                    <select class="form-control" asp-for="GenderCategoryId">
                        @foreach (var item in (List<GenderCategory>)ViewBag.brands)
                        {
            <option value="@item.Id">@item.Name</option>}


                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ProductColorId">Brend seçin:<span class="text-danger" class="text-danger">*</span></label>
                    <select class="form-control" asp-for="ProductColorId">
                        @foreach (var item in (List<ProductColor>)ViewBag.brands)
                        {
            <option value="@item.Id">@item.Color</option>}


                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ProductBrandId">Brend seçin:<span class="text-danger" class="text-danger">*</span></label>
                    <select class="form-control" asp-for="ProductBrandId">
                        @foreach (var item in (List<ProductBrand>)ViewBag.brands)
                        {
            <option value="@item.Id">@item.Name</option>}


                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Photo">Məhsulun şəkilləri:</label>
                    <input required class="form-control" asp-for="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>


                <button type="submit" class="btn btn-primary">Əlavə et</button>
            </form>
        </div>
    </div>
</div>

