@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div style="padding-top: 10%" class=" ">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Ölçü</th>
                <th scope="col">Rəng</th>
                <th scope="col">Telefon</th>
                <th scope="col">Adres</th>
                <th scope="col">Poçt</th>
                <th scope="col">Şəhər</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@o.Name</td>
                    <td>@o.Surname</td>
                    <td>@o.Size</td>
                    <td>@o.Color</td>
                    <td>@o.PhoneNumber</td>
                    <td>@o.Adress</td>
                    <td>@o.PostalCode</td>
                    <td>@o.City</td>
                    <td>
                        @*<a asp-controller="ProductBFOS" asp-action="Delete" asp-route-id="@o.Id" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </a>*@
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

